<%= simple_form_for(@activitat) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :titol, placeholder: 'Museu del Mar' %>
    <%= f.input :subtitol, placeholder: 'Bressol dels pescadors i mariners' %>
    <%= f.input :descripcio, placeholder: '[...] la orada, lo mujol, l\'anguila, la palaia... '  %>

    <p>
      <strong>Utilitza aquest enllaç per obtenir les coordinades del mapa.<br></strong>
      <strong>Al fer click al mapa et dona la latitut i longitut q has d'introduir a baix.</strong>
      <%= link_to 'Mapa', 'http://itouchmap.com/latlong.html', :target => "_blank" %>
    </p>

    <%= f.input :puesto, placeholder: 'La Rapita'%>
    <%= f.input :lat, placeholder: '40.621066' %>
    <%= f.input :long, placeholder: '0.598114' %>
    <%= f.association :user %>

    <div class="field">
      <%= f.label :cover, 'Cover, maxim 4Mb' %>
      <%= f.file_field :cover %>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit%>
  </div>
<% end %>
